{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./css/style.css",
  "tailwindConfig": "./tailwind.config.js",
  "tailwindAttributes": ["myClassList"],
  "tailwindFunctions": ["clsx", "tw"]
}
